includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/eloquent/phpstan-phony/phony.neon
    - vendor/contributte/codeception/extension.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/_*

    ignoreErrors:
        - '#^Access to an undefined property Nette\\Security\\IIdentity::\$[a-zA-Z]++#'
