extensions:
	nette: Nette\Bridges\Framework\NetteExtension
	arachne.dihelpers: Arachne\DIHelpers\DI\DIHelpersExtension
	arachne.security: Arachne\Security\DI\SecurityExtension
	enumag.application: Enumag\Application\DI\ApplicationExtension

nette:
	application:
		catchExceptions: null
		mapping:
			*: Tests\Integration\Classes\*Presenter

services:
	routerFactory: Tests\Integration\Classes\RouterFactory
	router: @routerFactory::create()
