common:
	extensions:
		arachne.dihelpers: Arachne\DIHelpers\DI\DIHelpersExtension
		arachne.security: Arachne\Security\DI\SecurityExtension
		kdyby.fakesession: Kdyby\FakeSession\DI\FakeSessionExtension

	arachne.security:
		firewalls:
			- admin

	services:
		identityValidator:
			class: Tests\Integration\Classes\IdentityValidator
			tags:
				arachne.security.identityValidator: admin
		authorizator:
			class: Tests\Integration\Classes\Authorizator
			tags:
				arachne.security.authorizator: admin

nette_2.2 < common:
	extensions:
		nette: Nette\Bridges\Framework\NetteExtension

	nette:
		application:
			mapping:
				*: Tests\Integration\Classes\*Presenter

nette_2.3 < common:
	extensions:
		nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension( %debugMode%, [ %appDir% ] )
		nette.http: Nette\Bridges\HttpDI\HttpExtension
		nette.routing: Nette\Bridges\ApplicationDI\RoutingExtension( %debugMode% )
		nette.session: Nette\Bridges\HttpDI\SessionExtension

	nette.application:
		mapping:
			*: Tests\Integration\Classes\*Presenter
