extensions:
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.session: Nette\Bridges\HttpDI\SessionExtension
    arachne.servicecollections: Arachne\ServiceCollections\DI\ServiceCollectionsExtension
    arachne.security: Arachne\Security\DI\SecurityExtension

arachne.security:
    firewalls:
        - admin

services:
    identityValidator:
        class: Tests\Integration\Classes\IdentityValidator
        tags:
            arachne.security.identityValidator: admin
    authorizator:
        class: Tests\Integration\Classes\Authorizator
        tags:
            arachne.security.authorizator: admin
